  body {
    background-color: black;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  }
  #stream {
    height: 99%;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
  }
